<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head') %>
  </head>
  <body>
    <%- include('../part/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>


    </div>
  </body>
</html>