<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head') %>
  </head>
  <body>
    <%- include('../part/nav') %>

    <div class="container">

      <h4 class="container mt-4"><strong>로그인 페이지</strong></h4>

      <div class="container mt-3">
        <form action="/login" method="post">
          <div class="form-group">
            <label>아이디</label>
            <input type="text" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label>비밀번호</label>
            <input type="text" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-danger">로그인</button>
        </form>
      </div>

    </div>
  </body>
</html>